[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
pymysql = "*"
streamlit = "*"
cryptography = "*"
streamlit-extras = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
